*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
    }
    .container{
        max-width: 1024px;
        margin: 0 auto;
    }
    header{
        padding: 20px 100px;
    }
    header h1{
        text-align: center;
    }
    .cardwrapper{
        display: flex;
        flex-wrap: wrap;
    }
    .col-4{
        width:calc(100%/12*4);
        padding: 10px;
    }
    .card{
        height: 250px;
        border-radius: 0 0 12% 12%;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }
    .line{
        height: 20px;
    }
    .card_ui{
        padding: 20px;
    }
    .card_icon{
        height: 100px;
        display: flex;
        align-items: center;
    }
    .circle{
        margin-left: 40px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    
    .footer{
        display: flex;
        justify-content: center;
        padding-top: 20px;
    }
    button{
        border: 0;
        background-color:red;
        color: white;
        padding: 10px 20px;
        border-radius: 20px;
    }
    .red{
        background-color: red;
    }
    .blue{
        background-color: blue;
    }
    .green{
        background-color:green ;
    }
    .yellow{
        background-color: yellow;
    }
    .purple{
        background-color: purple;
    }
    
    